.app {
   display: grid;
   grid-template-columns: 1fr minmax(auto, 60vw) 1fr;

   &>* {
      height: 100vh;
   }

   .main-panel {
      // overflow: hidden;
      // overflow: overlay;
      height: 100vh;
      border-right: 1px solid var(--surface4);
      color: var(--text2);
      background-color: var(--surface3);

      .inner {
         padding: 1rem;
         padding-bottom: 0;
         border-bottom: 1px solid var(--surface4);
         background-color: white;

         // position: fixed;
         .project__info {
            display: flex;
            justify-content: space-between;

            // padding: 1rem;
            .project__section {

               // padding: 1rem;
               .title {
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  font-size: 22px;
                  font-weight: 600;
               }

               .tags {
                  display: flex;
                  align-items: center;
                  // gap: 1rem;
                  margin: 0.5rem 0 0 1.5rem;
                  position: relative;

                  &::before {
                     content: "";
                     // background-color: red;
                     // outline: 2px solid var(--text2);
                     border-bottom-left-radius: 4px;
                     border-left: 1px solid var(--text2);
                     border-bottom: 1px solid var(--text2);
                     position: absolute;
                     width: 10px;
                     height: 15px;
                     left: -14px;
                     top: -6px;
                  }

                  .tag {
                     display: flex;
                     align-items: center;
                     font-size: 14px;
                     gap: 0.2rem;
                  }

                  *+*::before {
                     content: "/";
                     padding-inline: 0.5rem;
                     font-weight: 500;
                  }
               }
            }

            .action {
               display: flex;
               font-size: 18px;
               gap: 1rem;
            }
         }

         .secondary__info {
            margin-top: 1rem;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .tabs {
               gap: 1.5rem;
               font-size: 14px;
               display: flex;
               align-items: center;

               .tab {
                  padding: 8px 15px;
                  border-radius: 5px;

                  &:hover {
                     background-color: var(--surface3);
                  }

                  display: flex;
                  align-items: center;
                  gap: 0.3rem;
               }

               .active {
                  font-weight: 600;
                  position: relative;
               }

               .active::before {
                  content: "";
                  position: absolute;
                  width: 80%;
                  height: 5px;
                  background-color: var(--text2);
                  left: 0px;
                  right: 0px;
                  bottom: -6px;
                  border-top-left-radius: 5px;
                  border-top-right-radius: 5px;
                  margin-inline: auto;
               }
            }

            .members {
               display: flex;

               .avatar {
                  margin-right: -10px;
                  border: 2px solid white;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: var(--text2);
               }

               .avatar--count {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 11px;
                  // color: var(--text2);
                  color: white;
                  font-weight: 500;
               }



               .member__add {
                  margin-left: 15px;
                  border: 2px solid white;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: var(--text2);

                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 20px;
                  // color: var(--text2);
                  color: white;
                  font-weight: 500;
               }
            }


         }
      }

      .view__info {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-inline: 1rem;
         padding-top: 1rem;
         padding-bottom: 0.5rem;
         border-bottom: 1px solid var(--surface4);
         font-size: 12px;

         .views {
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 0.3rem;
         }

         .view {
            display: inline-flex;
            align-items: center;
            gap: 0.3rem;
            padding: 8px 12px;
            border-radius: 5px;

            &:hover {
               background-color: var(--surface2);
            }
         }

         .active {
            background-color: var(--surface4);

            &:hover {
               background-color: var(--surface4);
            }
         }
      }

      .board {
         width: 100%;
         display: flex;
         overflow: auto;
         height: calc(100vh - 180px);
         // padding: 2rem;
         // background-color: var(--surface3);

         .card__group + .card__group {
            margin-left: 0rem;
         }

         .card__group {
            margin: 1rem;
            user-select: none;
            height: max-content;

            .group__title {
               font-size: 14px;
               font-weight: 500;
               // position: fixed;
               // background-color: var(--surface3);
            }

            .dot {
               display: flex;
               align-items: center;
               gap: 0.3rem;

               &::before {
                  content: "";
                  width: 7px;
                  height: 7px;
                  border-radius: 100%;
               }
            }

            .add__card {
               background-color: var(--surface2);
               padding: 5px 10px;
               border-radius: 10px;
               margin: auto;
               display: inline-flex;
               justify-content: center;
               font-size: 20px;
               font-weight: 500;
               width: 254px;
               // width: 100%;
            }
         }

         // margin: 1rem;
         .dot--orange::before {
            background-color: rgb(255, 188, 63);
         }
         .dot--blue::before {
            background-color: rgb(85, 85, 255);
         }
         .dot--grey::before {
            background-color: rgb(154, 154, 154);
         }
         .dot--green::before {
            background-color: rgb(81, 244, 81);
         }
      }
   }

   .left-panel {
      // overflow: auto;
      display: grid;
      height: 100vh;
      grid-template-columns: 60px 1fr;

      .workspace {
         border-right: 1px solid var(--surface4);
         position: relative;

         .inner {
            .logo {
               color: var(--text2);
               padding: 10px 6px;
               font-family: 'Poiret One', cursive;
               font-weight: 900;
            }

            .workspace__items {
               // margin-top: 20px;
               overflow: auto;
               height: calc(100vh - 100px);
               overflow: overlay;

               //    ::-webkit-scrollbar {
               //       width: 0px;
               //       height: 0px;
               //   }

               .workspace__item {
                  position: relative;
                  font-family: monospace;
                  margin: 12px;
                  text-align: center;
                  border-radius: 5px;
                  padding: 10px 0;
                  color: var(--text2);
                  outline: 1px solid var(--surface4);

                  &:hover {
                     background-color: var(--surface3);
                  }

               }

               .active {
                  background-color: var(--active);
                  color: var(--text2);
                  // opacity: 0.5;

                  &:hover {
                     background-color: var(--active);
                  }

                  &::before {
                     content: "";
                     position: absolute;
                     top: 0;
                     bottom: 0;
                     left: -12px;
                     border-radius: 0 18px 18px 0;
                     background-color: var(--active);
                     width: 5px;
                     height: 25px;
                     margin-block: auto;
                  }
               }

            }
         }

         .workspace__add {
            position: absolute;
            margin: auto 10px;
            padding: 2px 10px;
            bottom: 10px;
            left: 0;
            right: 0;
            font-size: 24px;
            text-align: center;
            border-radius: 5px;
            color: var(--text2);
            outline: 1px solid var(--surface4);

            &:hover {
               background-color: var(--surface3);
            }

         }
      }

      .project {
         border-right: 1px solid var(--surface4);
         position: relative;

         .inner {
            margin: 10px;

            .search {
               margin: 10px;
               margin-block: 20px;
               display: flex;
               align-items: flex-end;
               color: var(--text2);
               gap: 0.25rem;
               font-size: 14px;

               input {
                  width: 100%;
                  background-color: transparent;
               }

               input::placeholder {
                  color: var(--text2);
                  // background-color: var(--surface3);
               }
            }

            .dropdown {
               margin-top: 1rem;

               .dropdown__lists {
                  margin-top: 0.5rem;
                  color: var(--text2);

                  .dropdown__item {
                     display: flex;
                     align-items: center;
                     gap: 0.5rem;
                     // margin-top: 1rem;
                     font-size: 12px;
                     padding: 8px;
                     border-radius: 5px;
                     // color: red;

                     &:hover {
                        background-color: var(--surface3);
                     }
                  }
               }
            }
         }

         .project__add {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            position: absolute;
            margin: auto 20px;
            padding: 2px 10px;
            bottom: 10px;
            left: 0;
            right: 0;
            font-size: 24px;
            text-align: center;
            border-radius: 5px;
            color: var(--text2);
            outline: 1px solid var(--surface4);

            &:hover {
               background-color: var(--surface3);
            }

            &>* {
               font-weight: 500;
               font-size: 14px;
            }
         }
      }
   }

   .right-panel {
   }

   .card__group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
   }

   .no-select {
      user-select: none;
   }

   .pointer {
      cursor: pointer;
   }

   .cursor {
      cursor: default;
   }

   .notification {
      background-color: red;
      color: white;
      font-weight: 500;
      padding: 2px 5px;
      border-radius: 50%;
      font-size: 10px;
   }

}