.card {
    width: 250px;
    // border: 1px solid var(--surface4);
    background-color: var(--surface2);
    // background-color: var(--surface3);
    // border-radius: 6px;/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;

    padding: 0.75rem;
    // padding: 0;
    
    .card__header {
        // padding: 0.75rem 0.75rem 0 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 0.75rem;
    }

    .card__body {
        padding-top: 0.5rem; 
        // padding-inline: 0.75rem;   
        .card__info {
            font-size: 14px;
            color: rgb(80, 80, 80);
            padding: 0.5rem 0;
        }
        
        .card__subtask {
            font-size: 14px;
            margin-top: 10px;
            .tasks {
                border-bottom: 1px solid black;

                .task {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-bottom: 0.5rem;
                }

                .task--close {
                    // text-decoration: line-through;
                    color: var(--surface4);
                }

            }

            .task__action {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 0.5rem;
            }
        }

        .card__attachment {
            display: flex;
            gap: 0.3rem;
            margin-top: 1rem;
            // padding-bottom: 0.75rem;
            .images {
                // width: 100%;
                width: 31px;
                aspect-ratio: 1;
                border-radius: 5px;
                background-color: var(--text2);

            }
            .images--count {
                font-size: 14px;
                color: aliceblue;
                display: grid;
                place-content: center;
            }
        }    
    }

    .card__tags {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.25rem;
        width: 100%;
        
        .tag {
            --tag-hue: 200;
            padding: 0.25rem 0.65rem;
            font-size: 10px;
            font-weight: 600;
            border-radius: 2rem;
            border: 1px solid hsl(var(--tag-hue) ,80%, 60%);
            color: hsl(var(--tag-hue) ,80%, 60%);
            background-color: hsl(var(--tag-hue) ,95%, 95%);
            // back
        }

        .tag--blue {
            --tag-hue: 200;
        }

        .tag--yellow {
            --tag-hue: 400;
        }

        .tag--red {
            --tag-hue: 350;
        }

        .tag--pink {
            --tag-hue: 300;
        }

        .tag--violet {
            --tag-hue: 270;
        }

        .tag--green {
            --tag-hue: 120;
        }
    }

    .card__title {
        font-weight: 500;
        font-size: 0.95rem;
    }
    
}
.card__footer {
    font-size: 0.85rem;
    margin-top: 0.20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // border: 2px solid black;
    background-color: var(--surface2);
    padding: 0.75rem;
    font-family: monospace;

    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    // border-radius: ;

    .left {
        display: flex;
        align-items: center;
        font-size: 12px;
        .avatar {
            width: 25px;
            height: 25px;
            background-color: var(--surface3);
            border-radius: 15px;
            margin-right: -8px;
            border: 2px solid var(--surface2);
        }

        .avatar--center {
            display: grid;
            place-content: center;
        }

        .avatar--add {
            // border: 2px dashed;
            border: none;
            font-size: 14px;
        }
        
        * + .avatar--add {
            margin-left: 18px;

        }
    }

    .right {
        display: flex;
        gap: 0.75rem;
        align-items: center;

        .info {
            display: flex;
            // align-items: start;
            // justify-content: start;
            gap: 0.2rem;
            font-weight: 400;
            color: var(--text2);
            font-size: 14px;
            // padding: 0.25rem;

            .count {
                font-size: 12px;
            }

        }
    }
    .hover {
        --hue: 0;
        color: hsl(var(--hue), 100%, 50%);
        background-color: hsl(var(--hue), 50%, 95%, 0.3);
        box-shadow: 0 0 5px 2px hsl(var(--hue), 100%, 95%, 0.3);
        border-radius: 5px;
    }
}