.card {
    width: 250px;
    // height: 200px;
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 10px;

    .card__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .card__tags {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;
            width: 100%;

            .tag {
                --tag-border-color: #000;
                padding: 5px 12px;
                font-size: 10px;
                font-weight: 600;
                border-radius: 20px;
                border: 2px solid;
            }
        }
    }

    .card__body {
        padding-top: 1rem;

        .card__title {
            font-weight: 500;
            font-size: 16px;
            padding-bottom: 0.5rem;
        }

        .card__info {
            font-size: 14px;
            color: rgb(80, 80, 80);
            padding-bottom: 0.5rem;
        }
    }

    .card__footer {}
}